
<div class="container">
  <!-- Tabla  -->
  <div class="row">
    <div class="col"><br>
      <table class="table table-bordered">
        <thead>
          <tr class="info">
            <th th scope="col"></th>
            <th th scope="col">Nombre</th>
            <th th scope="col">Hs. Inicio</th>
            <th th scope="col">Hs. Fin</th>
            <th th scope="col">Profesor</th>
            <th th scope="col">Cupos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects" class="success">
            <th scope="row" *ngIf="showIDS">{{subject.Id}}</th>
            <td>
              <mat-radio-button color="warn" (click)="onSelect(subject)">
              </mat-radio-button>
            </td>
            <td>
              {{ subject.Name }}
            </td>
            <td>
              {{ subject.Time_start }}
            </td>
            <td>
              {{ subject.Time_end }}
            </td>
            <td>
              {{ subject.Teacher }}
            </td>
            <td>
              {{ subject.Maximum_quota }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Botones área administración -->
      <div class="col"><br>
        <button mat-raised-button color="accent" class="AdmDashButtons" (click)="actPostCard()">
          Agregar materia
        </button>
        |
        <button mat-raised-button [disabled]="isDisabled" color="accent" class="AdmDashButtons" (click)="actPutCard()">
          Modificar Materia
        </button>
        |
        <button mat-raised-button color="accent" [disabled]="isDisabled" class="AdmDashButtons" (click)="actDelCard()">
          Eliminar Materia
        </button>
        <br>
    </div>
  </div>
</div>

      <!-- Formulario para modificar materias -->
      <div class="col-sm-12" *ngIf="editSbj"><br>
        <div class="card">
          <div class="card-body">
           <div class="div card-text">

             <form [formGroup]="editSubjectForm" class="subjectForm" (ngSubmit)="putSubject(editSubjectForm, subject.Id)">

              <div class="card-header">Nombre</div>
              <input type="text" class="form-control subjectInput" formControlName="Name">

              <div class="card-header">Hs. Inicio</div>
              <input type="number" class="form-control subjectInput" formControlName="Time_start">

              <div class="card-header">Hs. Fin</div>
              <input type="number" class="form-control subjectInput" formControlName="Time_end">

              <div class="card-header">Profesor</div>
              <input type="text" class="form-control subjectInput" formControlName="Teacher">

              <div class="card-header">Cupos</div>
              <input type="number" class="form-control subjectInput" formControlName="Maximum_quota">
              <br>

              <button mat-raised-button type="submit">Modificar</button>
              |
              <button mat-raised-button (click)="actPutCard()">Cancelar</button>
             </form>
           </div>
          </div>
        </div>
      </div>


        <!-- Formulario para agregar materias -->
      <div class="col-sm-12" *ngIf="sbjCard"><br>
        <div class="card">
          <div class="card-body">
           <div class="div card-text">

             <form [formGroup]="subjectForm" class="subjectForm" (ngSubmit)="onSubmit(subjectForm)">

              <div class="card-header">Nombre</div>
              <input type="text" class="form-control subjectInput" formControlName="Name">

              <div class="card-header">Hs. Inicio</div>
              <input type="number" class="form-control subjectInput" formControlName="Time_start">

              <div class="card-header">Hs. Fin</div>
              <input type="number" class="form-control subjectInput" formControlName="Time_end">

              <div class="card-header">Profesor</div>
              <input type="text" class="form-control subjectInput" formControlName="Teacher">

              <div class="card-header">Cupos</div>
              <input type="number" class="form-control subjectInput" formControlName="Maximum_quota">
              <br>

              <button mat-raised-button type="submit">Agregar</button>
              |
              <button mat-raised-button (click)="actPostCard()">Cancelar</button>
             </form>
           </div>
          </div>
        </div>
      </div>


      <!-- Eliminar materia -->
      <div class="col-sm-12" *ngIf="deleteSubj"><br>
            <div class="alert alert-danger delAlert">
              <p>
                Está seguro que quiere eliminar <strong>{{ subject.Name }}</strong> ?
                <!-- Iconos -->
                <button mat-fab color="warn" (click)="deleteSubject(subject.Id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                </button>
                |
                <button mat-fab color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
              </p>
            </div>
      </div>
    </div>

